body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:  #f4f4f4;
}

/*header-Global*/

header{
    background: #0668A2;
    color: #fff;
    padding: 15px 0;
    min-height: 50px;
    border-bottom: #05226A 3px solid;
    position: relative;
}

/*places the 63 logo and the nav in a grid*/
header .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header img {
    width: 60px;
    border-radius: 10px;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/*places each individual li elements in a flex*/
header ul{
    padding: 0;
    list-style: none;
    display: flex;
}

header li{
    display: inline;
    padding: 0 20px;
}

/*depending on the page, one of the nav elements will be .current*/
header .current a{
    color: #0BC299;
    font-weight: bold;
}

/*header end*/

/*index.html*/

/*showcaseBanner*/
#showcaseBanner{
    min-height: 400px;
    color: #fff;
    text-align: center;
}

/*places an image behind the elements of #showcaseBanner*/
#showcaseBanner .banner{
    position: absolute;
    background: #000 url('https://cdn.vox-cdn.com/thumbor/9B4o2ErxOapdmLA0CRoqC3XtMqE=/0x0:3000x2000/1200x800/filters:focal(1260x760:1740x1240)/cdn.vox-cdn.com/uploads/chorus_image/image/69783022/GeorgeRussell_Getty_Ringer.0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*padding-top as a % makes the text movment smooth. 
defines text in #showcaseBanner as partially transparent*/
#showcaseBanner .container{
    margin: 0;
    padding-top: 10%;
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    opacity: 0.7;
}

#showcaseBanner .container h1{
    margin: 0;
}

#showcaseBanner .container p{
    margin:0;
    font-size: 30px;
}

/*bio*/

#bio {
    padding: 20px;
    background: #0668A2;
}

/*the borders here only surround the conent of #bio .container, 
of which has signifigant margin, 
this creates the effect of defining lines.
it also devides the bio text and bio photo into a grid*/
#bio .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 1em;
    border-top: #fff 3px solid;
    border-bottom: #fff 3px solid;
}

#bio #bioContent{
    color: #fff;
}

/*image width 90% b/c of unsolvable problem with sizing*/
#bio .image img{
    margin-top: 20%;
    padding: 0;
    width: 95%;
    border: #fff 3px solid;
    
}



/*careerPreview*/

#careerPreview {
    padding: 2em 1em 1em;
    background-color: #fff;
}

/*puts each 'card' in carerPreview, allows them to wrap and to justify space-arround*/
#careerPreview ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
}

/*min-width to stop impossibly small 'cards' when screen was squished*/
#careerPreview li{
    margin-bottom: 1em;
    background: #fff;
    color: #333;
    width: 31%;
    min-width: 250px;

}

#careerPreview img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 1.5em;
    color: #fff;
}

#careerPreview #kart{
    background: #0BC299;
}

#careerPreview #art{
    background: #1581C1;
}

#careerPreview #williams{
    background: #0C39AB;
}

/*this is within careerPreview*/
/*jump_button is the button that jumps to career.html*/
.jump_button_div {
    width:100%;
    display: flex;
    justify-content: center;
}

.jump_button_div a {
    background: #59d6eb;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;    
}

/*connect*/

#Connect {
    padding: 10px;
    background: #05226a;
}

#Connect h1{
    text-align: center;
    color: #fff;
}

/*places the images into a flex so that they can wrap when the screen shrinks*/
#Connect .container{
    text-align: center;
    display: flex;
}


#Connect ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    justify-content: center;
}

#connect li{
    display: inline;
    padding: 0 20px;  

}

#Connect li img{
    height: 100px;
    
}

/*index.html end*/

/*footer*/

footer{
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #03406a;
}

footer p{
    margin: 0;
    padding: 0;
}

/*footer end*/


/*shop.html*/

/*the sidebar and products and placed in a grid of 1:7*/
#shop{    
    display: grid;
    grid-template-columns: 1fr 7fr; 
}

/*products*/

/*each product in products is put into annother grid of 1:1:1*/
#products{
    padding: 1em;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 1em; 
    row-gap: 1em;
    background: #05226A;
}

#products .item{
    background: #fff;
    text-align: center;
}

#products .item img {
    max-width: 100%;
    height: auto;
}

/*sidebar*/

#sidebar {
    padding: 1em;
    border-right: #00664F 3px solid;
    color: #fff; 
    background: #008366;
}

#sidebar h4{
    font-weight: bold;
    border-bottom: #fff 3px solid;
}

/*grid is used to make the price_range imputs 3x larger then the label*/
#sidebar li, #sidebar #price_range{
    display: grid;
    grid-template-columns: 1fr 3fr ; 
}

#sidebar ul, #sidebar #price_range{
    margin-bottom: 4em;
}

/*shop.html end*/

/*career.html*/

/*the 'years' in timeline a are placed into two grid columns*/
#timeline{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    column-gap: 1em;
    row-gap: 1em;
    padding: 10px;
    background: #034064;
    color: #fff;
}

/*current year of 20"twenty-two" is allowed to span both colums of the grid*/
#timeline #twenty-two{
    grid-column: 1/3;    
    
}

#timeline #twenty-two .dates{
    justify-content: center;
    text-align: center;
}

#timeline .year{
    color: #fff;
    background: #1581C1;
    border-radius: 2px;
}

/*25% margin makes the uderline of h3 smaller then the whole width of .year*/
#timeline .year > h3{
    border-bottom: #fff 3px solid;
    font-weight: bold;
    padding-left: 10px;
    margin-right: 25%;
}

/*the dates within year are flexboxed*/
#timeline .year .dates{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 15px;  
    justify-content: space-around;
}

#timeline .year .date{
    margin: 0 10px;
    background: #0BC299;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 0 10px;
}

/*.nonbanner used to exclude 2-column wide content like #twenty-two*/
#timeline .year .nonbanner{
    flex-basis: 40%; 
}

#timeline .year .date img{
    width: 100%;
    height: auto;
}

/*career.html - end*/

/*socialMedia.html*/

/*grid places p and form side-by-side and wraps them if needed*/
#contact{
    margin:0;
    border-bottom: 6px #00664f solid;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 10px 10%;
    column-gap: 1em;
    color: #fff;
    background: #00a47f;
}

#contact #contact_p h2{
    margin-top: 0;
}

/*each item in the form is in a 1 column grid so I can space them easier*/
.form{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

#contact_block .form Label{
    font-weight: bold;
    border-bottom: 1px #fff solid;
}

/*each articifal column in Career is flexed so that they can wrap when the screen shrinks*/
#social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #05226A;
}

#social .devide_columns{
    max-width: 33%;
    min-width: 300px;
}

#contact_block .button{
    background: #008366;
    color: #fff;
}

#contact_block .button:hover{
    background: #0bc299;
}

#social .devide_columns .tweet{
    padding: 0;
    margin: 20px 10px;
    
}

/*socialMedia.html end*/

@media(max-width: 750px){
    
    /*the header flexes down placing the nav under the logo and putting A 20% magin to keep things off-centre*/
    header .container {        
        flex-direction: column;
        justify-content: center;
        margin-left: 20%;
    }
    
    /*each li in the header ul is placed underneath one annother*/
    header nav ul{
        display: flex;
        flex-direction: column;
    }

    header li{
        padding: 0;
    }
    
    /* the bio grid goes from two columns to 1 and the image is placed underneath*/
    #bio .container{
        grid-template-columns: 1fr;
    }

    #bio .image img{
        margin-top: 0;        
    }

    /*shop.html*/

    /*sidebar and products in shop are turned from grid into block*/
    #shop{    
        display: block;
    }

    /*the shop's sidebar's border is moved from the right to the bottom*/
    #sidebar {
        border-right: hidden;
        border-bottom: #00664F 3px solid;
               
    }

    /*the grid holding products goes from 3 columns to 1*/
    #products{        
        grid-template-columns: 1fr; 
        
    }

    /*the years in timeline become display:block instead of grid*/
    #timeline{
        display: block;  
    }

    /*the contact grid in socialMedia is turned from two columns into 1*/
    #contact{
        grid-template-columns: 1fr;
    }
    
}